	body {
	  background-color: #808080;
	  margin: 8px;
	}

	#corps {
	  position: relative;
	  background-color: white;
	  width: 1000px;
	  left: 50%;
	  margin-left: -500px;
	  border-left: 1px dotted black;
	  border-right: 1px dotted black;
	}

	.titre {
	  text-align: center;
	  font-size: 18px;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  padding: 10px;
	}

	#title {
	  font-weight: bold;
	}

	#menu .titre {
	  color: #999900;
	  font-size: 30px;
	}

	#menu {
	  float: left;
	  width: 200px;
	  margin: 0px;
	}

	#menu .link {
	  text-align: center;
	}

	#menu .link a {
	  text-decoration: none;
	  padding: 10px;
	  font-weight: bold;
	}

	#menu .link a:hover {
	  text-decoration: underline;
	}

	#menu ul {
	  list-style-type: none;
	  margin: 5px;
	  padding: 0px;
	}

	#menu li .gen {
	  background-color: #FFAAAA;
	}

	#menu li .morpho {
	  background-color: #AAFFAA;
	}

	#menu li .freq {
	  background-color: #AAAAFF;
	}

	#menu li .pat {
	  background-color: #AAFFFF;
	}

	#menu li a {
	  display: block;
	  padding: 5px;
	  width: 188px;
	  height: 20px;
	  background-color: #AAAAAA;
	  border-bottom: 1px dotted black;
	  text-decoration: none;
	  color: black;
	  text-align: center;
	  font-family: Geneva, Arial, Helvetica, sans-serif;
	  font-size: 14px;
	}

	#menu li a:hover {
	  background-color: #DDDDDD;
	}

	#statistiques {
	  float: right;
	  width: 760px;
	  overflow: auto;
	  margin: 0px;
	  padding: 20px;
	}

	.tableTitle {
	  font-weight: bold;
	  font-size: 14px;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  padding-bottom: 20px;
	  padding-top: 20px;
	  border-bottom: 1px dotted black;
	}

	h1 {
	  background-color: #999900;
	  color: white;
	  font-size: 18px;
	  font-weight: bold
	}

	.label {
	  width: 200px;
	  font-size: 12px;
	  font-family: "Times New Roman", Times, serif;
	  font-weight: bold;
	}

	.value {
	  font-weight: bold;
	  font-size: 12px;
	  font-family: "Courier New", Courier, mono;
	  color: blue;
	  width: 150px;
	  text-align: center;
	}

	#message {
	  border: 1px solid black;
	  background-color: #CCCCCC;
	  display: none;
	  position: absolute;
	  width: 300px;
	  top: 200px;
	  left: 50%;
	  margin-left: -170px;
	  padding: 20px;
	  text-align: center;
	  font-size: 16px;
	}

	#footer {
	  background-color: #DDDDDD;
	  padding: 10px;
	  height: 20px;
	  clear: both;
	  text-align: center;
	  font-size: 12px;
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  border-top: 1px solid black;
	}

	.right {
	  text-align: right;
	}

	.left {
	  text-align: left;
	}

	.clickable {
	  color: blue;
	  cursor: pointer;
	}

	.clickable:hover {
	  text-decoration: underline;
	}

	#lecture {
	  position: absolute;
	  display: none;
	  width: 600px;
	  height: 700px;
	  left: 50%;
	  top: 50%;
	  margin-left: -300px;
	  margin-top: -350px;
	  background-color: white;
	  border: 2px solid grey;
	  z-index: 100;
	  -moz-box-shadow: 5px 5px 5px 5px #656565;
	  -webkit-box-shadow: 5px 5px 5px 5px #656565;
	  -o-box-shadow: 5px 5px 5px 5px #656565;
	  box-shadow: 5px 5px 5px 5px #656565;
	  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
	}

	#page {
	  height: 500px;
	  padding: 50px 50px 0px 50px;
	  overflow: auto;
	  text-align: justify;
	}

	#pageN {
	  text-align: right;
	  padding: 0px 50px 0px 50px;
	}

	#back, #forward {
	  width: 70px;
	}

	/* seulement pour le chargement : ces images ne sont pas affichées au départ*/
	#back_hover, #forward_hover {
	  display: none;
	}
